.form-footer {
  padding-top: 15px;
  flex-grow: 1;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
  margin-left: -12px;

  .button {
    margin: 0;
    display: flex;
    padding-left: 29px;
    padding-right: 28px;
    align-items: center;
    justify-content: space-between;
  }
}

.field-button {
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .subscribe-input {
    max-width: 450px;
    width: 100%;
  }
  .field-input {
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    flex-wrap: nowrap;
    justify-content: space-between;

    .button {
      margin-left: 12px;
    }
  }

  .subscribe-input {
    width: 358px;
  }
}

.subscribe-input {
  display: inline;
  margin: 0;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--hero-footer-background);

  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;

  color: var(--text-white-color);

  &::placeholder {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    outline: none;
  }
}

.icon-send-footer {
  fill: var(--text-white-color);
}
