/* акцент #2196F3 */
/* основной цвет #757575 */
/* вторичный цвет #212121 */
/* баннер и фон футера #2F303A */
/* фон страницы светлый #E5E5E5 и серый #F5F4FA, фон хедера #FFFFFF */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --text-white-color: #fff;
  --hero-footer-background: #2f303a;
  --hero-background: #c4c4c4;
  --border-box: #eee;
  --button-title-hover: #188ce8;
  --header-bottom-line: #ececec;
  --company-logo: #afb1b8;
}
